@{
    ViewBag.Title = "Example 2";
}

<script type="text/javascript">

	//first define the Player type
	$exoweb({
		"types": {
			"Player": {
				"properties": {
					"FirstName": { "type": "String", "index": 0 },
					"LastName": { "type": "String", "index": 1 },
					"NumberOfWins": { "type": "Number", "index": 2 },
					"Gender": { "type": "String", "index": 3 },
					"HasWonAGame": { "type": "Boolean", "index": 4 }
				}
			}
		}
	});

	//setup your ExoWeb model
	$exoweb({
		model: {
			player: {
				id: "1",
				from: "Player",
				load: {
					"instances": {
						"Player": {
							"1": ["Babe", "Ruth", 1000, "Male", true]
						}
					}
				}
			}
		}
	});

	Player.meta.addProperty({
		name: 'FullName',
		type: String
	}).calculated({
		fn: function () {
			return this.get_FirstName() + " " + this.get_LastName();
		},
		basedOn: ['this.FirstName', 'this.LastName']
	});
</script>

<h2>Example 3</h2>
<div class="sys-template" sys:attach="dataview" dataview:data="{{ context.model.player }}">
	<span>{binding FirstName }</span>
	<span>{binding LastName }</span>
	<br />
	First: <input type="text" id="textFirstName" name="textFirstName" sys:value="{binding FirstName}" />
	<br />
	Last: <input type="text" id="textLastName" name="textLastName" sys:value="{binding LastName}" />
	<br />
	FullName: <input type="text" id="textFullName" name="textFullName" sys:value="{binding FullName}" />
</div>