@{
	ViewBag.Title = "List Games";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section startupScript
{
	@Html.Raw(ExoWeb.Model(new {
		games = Game.All
	}))

	<script type="text/javascript">
		function showMessage(message) {
			var messageBox = $('.message');
			messageBox.children('span').text(message);
			messageBox.fadeIn();
		}

		function deleteEntity(entityId) {
			if ($('.validated-some').length > 0) {
				showMessage('There are unresolved validation errors. Please correct and try again.');
			}
			else {
				var index = null;
				context.model.games.forEach(function (game, i) {
					if (game.meta.id == entityId) {
						index = game;
					}
				});

				if (index != null) {
					context.model.games.remove(index);
					context.server.save(
						context.model.games,
						function success() {
						},
						function fail() {
							showMessage('An error occurred while saving.');
						}
					);
				}
			}
		}
	</script>
}

<h2>Games</h2>

<section>
	<table class="grid readonly">
	<thead>
	<tr>
				<th>Name</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Winner</th>
				<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody class="sys-template" sys:attach="dataview" dataview:data="{~ model.games,source=window.context}">
	<tr sys:class="{{ $index % 2 == 0 ? 'even' : '' }}">
				<td class="readonly" sys:attach="content" content:data="{@@ Name}"></td>
				<td class="readonly" sys:attach="content" content:data="{@@ Started}"></td>
				<td class="readonly" sys:attach="content" content:data="{@@ Finished}"></td>
				<td class="readonly" sys:attach="content" content:data="{@@ Winner}"></td>
				<td><a sys:href="{{ '@Url.Action("Edit", "Game")/' + $dataItem.meta.id }}">Edit</a></td>
				<td><a href="#" class="button" sys:onclick="{{ 'deleteEntity(' + $dataItem.meta.id + ')' }}">Delete</a></td>
	</tr>
	</table>
</section>
<a href="@Url.Action("Edit", "Game")" class="button">Add</a>

<div class="message">
<span style="font-weight: bold;"></span>
</div>
