@model Game

@ExoWeb.LoadTemplates("~/Scripts/ExoWeb/exoweb-templates.htm")

@ExoWeb.Model(new 
{
	game = Model.Include("this{Scores,Teams{Players{Scores,Teams},Scores,Games},Winner}")
})

<script type="text/javascript">
	$extend('Player', function (type) {
		type.meta.addProperty({
			name: 'uiCurrentGameScoreTotal',
			type: Number,
			isList: false
		})
		.calculated({
			fn: function () {
				var activeGameScores = $transform(this.get_Scores()).where('Game.meta.id === context.model.game.meta.id');
				var totalScore = 0;
				activeGameScores.forEach(function (item, index) {
					totalScore += item.get_Value();
				});
				return totalScore;
			},
			basedOn: ['this.Scores']
		});
	});

	$extend('Team', function (type) {
		type.meta.addProperty({
			name: 'uiCurrentGameScoreTotal',
			type: Number,
			isList: false
		})
		.calculated({
			fn: function () {
				var activeGameScores = $transform(this.get_Scores()).where('Game.meta.id === context.model.game.meta.id');
				var totalScore = 0;
				activeGameScores.forEach(function (item, index) {
					totalScore += item.get_Value();
				});
				return totalScore;
			},
			basedOn: ['this.Scores']
		});
	});
</script>

@ExoWeb.Render(
	@<section>
		<div class="sys-template container1" sys:attach="dataview" dataview:data="{~ context.model.game, source=window }">
			<div sys:attach="content" content:template="readonly form" content:data="{@@ Name }"></div>
			<div sys:attach="content" content:template="readonly form" content:data="{@@ Started, label=Start Time, format=t }"></div>
			<div sys:attach="content" content:template="readonly form" content:data="{@@ Finished, label=Finished Time, format=t }"></div>
			<div sys:attach="content" content:template="readonly form" content:data="{@@ NumberOfTeamsPlaying, label=Teams Involved }"></div>
			<div sys:attach="content" content:template="readonly form" content:data="{@@ NumberOfPlayersPerTeam, label=Players per Team }"></div>
			<p></p>

			<div class="sys-template" sys:attach="dataview" dataview:data="{~ Teams }">
				<div class="col1" style="width: 400px">
					<div class="teamname">{# Name }</div>
					<div class="sys-template" sys:attach="dataview" dataview:data="{~ Players }">
						<div class="playgameplayername">{~ format=[FirstName] [LastName] ([Wins] wins) }</div>
						<div class="playgamescore playgameplayerscore">{# uiCurrentGameScoreTotal }</div>
						<div class="spacer"></div>
					</div>

					<div class="playgamescore playgameteamscore">{# uiCurrentGameScoreTotal }</div>
				</div>
			</div>

			<div class="spacer"></div>
		</div>
	</section>
)
