@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section startupScript
{
	@Html.Raw(ExoWeb.Model(new {
		players = Player.All
	}))
}

<h2>Players</h2>

<section>
	<table class="grid readonly">
	<thead>
	<tr>
				<th>Date Created</th>
				<th>Name</th>
				<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody class="sys-template" sys:attach="dataview" dataview:data="{~ model.players,source=window.context}">
	<tr sys:class="{{ $index % 2 == 0 ? 'even' : '' }}">
				<td sys:attach="content" content:data="{@@ FirstName}"></td>
				<td sys:attach="content" content:data="{@@ LastName}"></td>
				<td><a sys:href="{{ '@Url.Action("Edit", "Player")/' + $dataItem.meta.id }}">Edit</a></td>
	</tr>
	</table>
</section>
<a href="@Url.Action("Edit", "Player")" class="button">Add</a>