@{
	ViewBag.Title = "Format Function";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

	//first define the Player type
	$exoweb({
		contextReady: function () {
			Player.meta.addProperty({
				name: 'FullName',
				type: String
			}).calculated({
				fn: function () {
					return $format("{0}{1}", [this.get_FirstName() + " ", this.get_LastName()]); 
				},
				basedOn: ['this.FirstName', 'this.LastName']
			});
		},
		types: {
			"Player": {
				"properties": {
					"FirstName": { "type": "String", "index": 0 },
					"LastName": { "type": "String", "index": 1 },
					"NumberOfWins": { "type": "Number", "index": 2 },
					"Gender": { "type": "String", "index": 3 },
					"HasWonAGame": { "type": "Boolean", "index": 4 }
				}
			}
		},
		model: {
			player: {
				id: "1",
				from: "Player",
				load: {
					"instances": {
						"Player": {
							"1": ["Babe", "Ruth", 1000, "Male", true]
						}
					}
				}
			}
		}
	});	
</script>

<h2>Format Function</h2>

<div class="sys-template" sys:attach="dataview" dataview:data="{~ context.model.player }">
	<div class="field"><span sys:attach="content" content:data="{@@ FirstName }"></span></div>
	<div class="field"><span sys:attach="content" content:data="{@@ LastName }"></span></div>
	<div class="field"><span sys:attach="content" content:data="{@@ FullName }"></span></div>
</div>