@{
	ViewBag.Title = "Signals";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
	var testSignal = new ExoWeb.Signal("counter signals");

	function addSignal() {
		var test = testSignal.pending(function () {
			/*var i = 0;
			for (i = 0; i < 100000; i++) {
			console.log(i);
			}*/

			console.log("blah pending callback running");
		});

		test();
	}

	function runSignal() {
		testSignal.waitForAll(function () { console.log("All Signals have run"); });
	}
</script>

<h2>Signals</h2>

<a class="button" onclick="addSignal();">Add Signal to Queue</a> <br />
<a class="button" onclick="runSignal();">Run Next Signal</a>