@{
	ViewBag.Title = "Signals";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
	var testSignal = new ExoWeb.Signal("counter signals");

	function log(message) {
		$("#log").val($("#log").val() + "\n" + message);
	}

	function counter(uniqueidentifier, callback) {
		var timeToWait = Math.floor(Math.random() * 3000);
		setTimeout(function () {
			log(uniqueidentifier + " is done.");
			callback(uniqueidentifier);
		}, timeToWait);
	}

	function addSignal() {
		var codes = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];

		codes.forEach(function (item, index) {
			counter(item, testSignal.pending(function (code) { log("Signal pending callback running, code = " + code); }));
		});

		testSignal.waitForAll(function () {
			log("All signals are complete");
		});
	}
</script>

<h2>Signals</h2>

<a class="button" onclick="addSignal();">Start Signal Code</a> <br />
<textarea id="log" cols="50" rows="22"></textarea>