@{
	Layout = null;
}
<!-- *, default -->
<span class="sys-template" sys:attach="template" template:for=".field span" template:datatype="ExoWeb.View.Adapter">
	<span sys:class="label" sys:innerText="{binding label}"></span><input sys:class="{ binding customCSS }" sys:tabindex="{ binding tabIndex }" type='text' sys:value="{ binding displayValue }" />
</span>

<!-- readonly -->
<span class="sys-template" sys:attach="template" template:for=".readonly span, span.readonly">
	<span sys:class="label" sys:innerText="{binding label}"></span><span sys:class="{ binding customCSS }" sys:innerText="{ binding displayValue }"></span>
</span>

<!-- boolean, default-->
<span class="sys-template" sys:attach="template" template:for=".field span" template:datatype="ExoWeb.View.Adapter" template:if="$data.isType(Boolean)">
	<span sys:class="label" sys:innerText="{binding label}"></span>
	<input type='checkbox' sys:tabindex="{ binding tabIndex }" sys:checked="{ binding rawValue }" />
	<div class='validation'></div>
</span>
