<?xml version="1.0" encoding="utf-8" ?>
<!-- 
		Note: Add entries to the App.config file for configuration settings
		that apply only to the Test project.
-->
<configuration>
		<appSettings>
			<add key="BrowserVisibility" value="Visible"/>
			<add key="ApplicationBaseUrl" value="http://localhost/LeisureStar/" />
		</appSettings>

		<connectionStrings>
			<add name="LeisureStar" connectionString="server=appdev-sql.vc3.com;uid=testview;pwd=testview;database=TestView_Mainline" providerName="System.Data.SqlClient" />
		</connectionStrings>
</configuration>
